<h1>News-Scraper</h1>
<div id="article-holder">
	{{#each articles}}
	  <a href="{{link}}">
	  	<h2>{{headline}}</h2>
	  	<p class="byline">{{byLine}}</p>
	  	<p>{{summary}}</p>
	  </a>
	{{/each}}
</div>